<div class="footer desktop-only" ng-controller="FooterController as fc"  ng-class="logo">
    <div class="content-container">
        <ul>
            <li>
                <a ng-href="http://www.fourseasons.com/privacy/" target="_blank">
                   Privacy Policy
                </a>
            </li>
            <li>
                <a ng-href="http://www.fourseasons.com/legal/" target="_blank">
                   Legal Notice
                </a>
            </li>
            <li>
               <span>&copy; Four Seasons Hotels Limited</span>
            </li>
        </ul>
        <a ng-href="http://www.fourseasons.com/" target="_blank">
          <img class="footer-icon" ng-src="/static/images/{{logo}}-dark.png" />
        </a>
        <div class="ourstay-logos">
            <a ng-href="http://www.ourstay.com/" target="_blank"><img class="footer-logo" ng-src="/static/images/ourstay-logo-footer.png" /></a>
        </div>
    </div>
</div>
